@charset "utf-8";
/* CSS Document */

body {
	background:#ffffff url(../images/bg.gif) repeat-x top left;
	font-family:Arial, Helvetica, sans-serif;
	color:#686868;
	font-size:small;
	line-height:1.3em;
}
h1 {
	color:#022847;
	font-size:120%;
}
p {
	font-size:90%;
}
a {
	color:#264761;
}
.clear {
	clear:both;
}




