@charset "utf-8";
/* CSS Document */

div#wrapper #nav {
	margin:0;
	padding:0;
	height:70px;
	width:411px;
	float:left;
}
div#wrapper #nav span {
	display:none;
}
div#wrapper #nav ul {
	margin:41px 0 0 0;
	padding:0;
	list-style:none;
}
div#wrapper #nav ul li {
	float:left;
}
div#wrapper #nav ul li a {
	background:url(../images/navBg.gif) no-repeat top left;
	display:block;
	height:29px;
}

/**** Home ****/

div#wrapper #nav ul li#home a {
	background-position: 0 0;
	width:72px;
}

div#wrapper #nav ul li#home a.selected, div#wrapper #nav ul li#home a.selected:hover,div#wrapper #nav ul li#home a:hover {
	background-position: 0 -29px;
}

/**** Building ****/

div#wrapper #nav ul li#building a {
	background-position: -72px 0;
	width:116px;
}

div#wrapper #nav ul li#building a.selected, div#wrapper #nav ul li#building a.selected:hover,div#wrapper #nav ul li#building a:hover {
	background-position: -72px -29px;
}

/**** Units ****/

div#wrapper #nav ul li#units a {
	background-position: -188px 0;
	width:135px;
}

div#wrapper #nav ul li#units a.selected, div#wrapper #nav ul li#units a.selected:hover,div#wrapper #nav ul li#units a:hover {
	background-position: -188px -29px;
}

/**** Location ****/

div#wrapper #nav ul li#location a {
	background-position: -323px 0;
	width:88px;
}

div#wrapper #nav ul li#location a.selected, div#wrapper #nav ul li#location a.selected:hover,div#wrapper #nav ul li#location a:hover {
	background-position: -323px -29px;
}



div#wrapper #main #sub-nav {
	background: #8a98b0;
	margin:0;
	padding:0;
	height:30px;
}
div#wrapper #main #sub-nav ul{
	margin:0;
	padding:5px 0 0 0;
}
div#wrapper #main #sub-nav ul li {
	margin:0;
	padding:0 45px 0 0;
	float:right;
}
div#wrapper #main #sub-nav ul li a {
	margin:0;
	padding:0;
	color:#ffffff;
	text-decoration:none;
}
div#wrapper #main #sub-nav ul li a:hover {
	color:#264761;
	text-decoration:none;
}
div#wrapper #main #sub-nav ul li a.selected {
	text-decoration:underline;
}

